 /* @font-face {
   font-family: 'MyFont';
   src:  url('./Trashtalk.ttf') format('tff');
   font-weight: 600;
   font-style: normal;
 }

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./twitter.jpg');
} */
 
 body {
     background: red;
 }